* {
font-family: 'Sorts Mill Goudy', serif;
}

body {
  background-color: #335252;
  margin: 0;
  color: #2d3033;
}

.nav-top {
  background-color: #aa4b41;
  margin: 0;
  list-style-type: none;
  text-align: center;
  color: #d4dde1;
}

.nav-sidebar {
  background-color: #aa4b41;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-sidebar li {
  display: inline-block;
/*    display: block;
*/  width: 32.5%;
  text-align: center;
  padding: 1rem 0rem;
  text-decoration: none;
  color: #d4dde1;
}

.nav-top li {
  display: inline-block;
  padding: 0 1rem;
/*  background-color: #763626;
*/  
}

.nav-top a {
  display: block;
  width: 60px;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  color: #d4dde1;
}

.nav-sidebar ul {
  padding: 0;
  margin: 0;
}

.nav-sidebar li:hover {
    background-color: #913228;

}

.selected-nav {
    background-color: #77180e;

}

#bars {
  height: 650px;
  overflow: hidden;
  width: 85%;
  margin: auto;
}

#contact, #skills{
  background-color: #d4dde1;
  width: 48%;
  height: 700px;
  display: inline-block;
  vertical-align: top;
}


#contact {
  font-size: 1.5rem;
  text-align: center;
}

#contact ul {
  list-style-type: none;
  padding: 0;
  height: 100%;
}

#contact li {
  height: 15%;
  vertical-align: middle;
}

#skills {
  float: right;
}

#skills ul {
  list-style-type: none;
  padding: 0;
}

#info {
  padding: 0 2rem;
}

#info li {
  display: inline-block;
}

h3 {
  text-align: center;
  color: #d4dde1;
  margin: 2rem 0;
}

h2 {
  margin: 0;
  text-align: center;
  padding: 0.3rem;
  color: #d4dde1;
}

h1 {
  margin: 0.7rem 0;
}

#skills h3, #skills h2 {
  color: #2d3033;
}

a {
  color: #aa4b41;
}

a:hover {
  color: #77180e;
}

/*Colour options:

Modern Urban
sunshine (highlight) f9ba32
steel blue (background) 426e86
bone (text) f8f1e5
coal (div) 2f3131*/

/*San Fran bridge
Stormy Sea (background) 335252
fog (text) d4dde1
rust (highlight) aa4b41
charcoal (div) 2d3033*/